extends ../layout 
block content
    h1 Edit Product
    form(action="/products/edit"+product._id,method="post")
        .form-group
            label(for="name") Name
            input#name(type="text" class="form-control", name="name", value=product.name)
        .form-group
            label(for="address") Address
            input#address(type="text" class="form-control" name="address", value=product.address)
        .form-group
            label(for="dresses") No. of Dresses
            input#dresses(type="text" class="form-control" name="dresses", value=product.dresses)
        .form-group
            label(for="size") Size
            input#size(type="text" class="form-control" name="size", value=product.size)   
        input(type="submit", value="Update Details" class="btn btn-info")    
